<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Erasmus+ Projects for PPMG 'Akad. Ivan Tsenov' Vratsa (2024–2027)" />
    <meta name="author" content="PPMG 'Akad. Ivan Tsenov'" />
    <title>Erasmus+ Projects | PPMG 'Akad. Ivan Tsenov'</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>

    <!-- Load Navbar From /assets/partials/navbar -->
    <%- include('partials/navbar') %>

  <main class="container my-5">
    <section class="text-center mb-5">
      <h1 class="mb-3">Title</h1>
    </section>

    <div class="row justify-content-center mb-4">
      <div class="col-md-4">
        <img src="../assets/img/stem/4th_nuclear_competition_2025_banner.png" class="img-fluid rounded shadow" alt="Activity image">
      </div>
    </div>

    <section class="row justify-content-center">
      <div class="col-md-8">
        <p>
          Main content
        </p>
      </div>
    </section>
  </main>

  <!-- Scripts -->
  <script>
    // Load navbar
    window.addEventListener("DOMContentLoaded", () => {
      fetch("navbar.html") // Make sure the path is correct
        .then(res => res.text())
        .then(html => {
          document.getElementById("navbar-container").innerHTML = html;
        })
        .catch(err => {
          console.error("Error loading navbar:", err);
        });
    });
  </script>

      <!-- Footer-->
    <%- include('partials/footer') %>

</body>
</html>
