<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Nuclear and Medical Physics Training in Croatia - PPMG Vratsa Erasmus+ Project" />
    <meta name="author" content="PPMG 'akad. Ivan Tsenov'" />
    <title>Croatia Medical Physics | PPMG 'akad. Ivan Tsenov'</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <img src="../assets/img/images.png" alt="Logo" class="img-fluid shrink-to-fit mx-3" style="max-width: 65px; max-height: 65px; z-index: 0;">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand nav-link-active" href="#page-top">PPMG 'akad. Ivan Tsenov'</a>
            <button id="translateBtn" class="btn btn-outline-light ms-2" type="button" title="Translate to Bulgarian">BG</button>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html#about">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#projects">Erasmus+ Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Project Content -->
    <section class="projects-section bg-light" id="projects" style="padding-top: 120px;">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h1 class="text-black mb-4">Exchange of Experience with Colleagues from Croatia</h1>
                    
                    <div class="mb-4">
                        <span class="badge bg-primary">Teacher Training</span>
                        <span class="badge bg-secondary">November 2024</span>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Project Details</h5>
                            <p><strong>Date:</strong> November 25-30, 2024</p>
                            <p><strong>Location:</strong> Croatia (Zagreb, Split)</p>
                            <p><strong>Participants:</strong> Pepa Pavlova, Lyudmila Jenkins, Dimitrina Milcheva, Annie Pavlova</p>
                            <p><strong>Program:</strong> KA-121-SCH Erasmus Accreditation</p>
                        </div>
                    </div>

                    <div class="mb-4">
                        <h3>About the Mobility</h3>
                        <p>Teachers of PPMG Acad. Ivan Tsenov, Vratsa took part in mobility under the Erasmus+ program, which was implemented from November 25 to November 30, 2024 in Croatia. The program included lectures and workshops, providing practical experience and observation on the application of nuclear and medical physics. Mobility has been carried out in several significant institutions in Croatia, including leading universities, research centers and hospitals.</p>

                        <h4>Ribro Hospital, Zagreb</h4>
                        <p>A main highlight was a visit to the Ribro Hospital in Zagreb, where participants had the opportunity to learn about the latest applications of medical physics, including the use of radiologic and nuclear technologies for diagnosis and therapy. The visits included observation of work in radiology and oncology wards, as well as participating in discussions with medical professionals.</p>

                        <h4>Universities - Zagreb and Split</h4>
                        <p>As part of the mobility, the participants visited the Faculty of Science and Mathematics at the University of Zagreb and the University of Split, where innovative research and curriculum in the field of nuclear physics were presented. It provided an opportunity to exchange experiences with faculty and students, as well as to discuss future collaborations.</p>

                        <h4>Ruger Boskovic Institute</h4>
                        <p>One of the key points of the program was the visit to the Ruger Boskovic Institute, a leading scientific research institution in Croatia. Participants had the opportunity to learn about current research projects, including in nuclear and medical physics, and observe high-tech equipment and laboratories.</p>

                        <h4>RIT Croatia Campus</h4>
                        <p>The program also included a visit to the RIT Croatia (Rochester Institute of Technology) campus, where an interdisciplinary approach to learning combining innovation and practical application in science and technology was demonstrated.</p>
                        
                        <p>The Bulgarian team presented its experience for an integrated approach to education by creating links between different disciplines, which stimulates creativity, critical thinking and the application of knowledge in real life. The lesson "The Northern Lights: a Fusion of Science, Myth and Magic" that we presented, integrates these elements and demonstrates the STEAM approach to education.</p>

                        <h4>Impact</h4>
                        <p>This mobility, which is a project in connection with Erasmus Accreditation for School Education KA-121-SCH, provided participants Pepa Pavlova, Lyudmila Jenkins, Dimitrina Milcheva and Annie Pavlova with valuable knowledge, experience and contacts that will be of great benefit to their professional development and for the introduction of new practices in the field of science and education.</p>
                    </div>

                    <a href="index.html#projects" class="btn btn-primary">Back to Projects</a>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>