<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Erasmus+ Activities for PPMG 'Akad. Ivan Tsenov' Vratsa (2024–2027)" />
    <meta name="author" content="PPMG 'Akad. Ivan Tsenov'" />
    <title>Erasmus+ Activities | PPMG 'Akad. Ivan Tsenov'</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>

    <!-- Load Navbar From /assets/partials/navbar -->
    <%- include('../partials/navbar') %>

  <div class="container p-5 my-5">
  <main class="container card p-5 my-5">
    <section class="text-center mb-5">
      <h1 class="mb-3">Erasmus Club at PPMG "Acad. Ivan Tsenov marked Europe Day</h1>
    </section>

    <div class="row justify-content-center mb-4">
      <div class="col-md-4">
        <img src="../assets/img/stem/europeDay_1.jpg" class="img-fluid rounded shadow" alt="Activity image">
      </div>
    </div>

    <section class="row justify-content-center">
      <div class="col-md-8">
        <p>
          Erasmus Club at PPMG "Acad. Ivan Tsenov marked the 75th 
          anniversary of signing the Schumann Declaration, which sets 
          the beginning of the European Union, with a meeting to disseminate 
          the results of two current Erasmus projects implemented during the 
          current school year. The event was attended by students from eighth 
          and ninth grade, to whom the Erasmus Club members talked about their 
          involvement in the mobility conducted in Belgium and Italy, the 
          training they underwent there, the experience gained and the contacts made.
        </p>
        <img src="../assets/img/stem/europeDay_2.jpg" class="img-fluid rounded shadow" alt="Activity image">
        <p>
          Students who took part in the Erasmus Accreditation Mobility, 
          Professional Education Direction demonstrated their projects 
          they have developed as an application of the skills to work 
          with Python programming language gained in their collaboration 
          with Italian hosts. On their part, the students who participated 
          in the Erasmus Accreditation mobility, the School Education Direction 
          shared about their cooperation with teachers, students and pupils from 
          the visiting Belgian university and school. For the audience, the meeting 
          also had a competitive element that stimulated an in-depth perception of 
          the opportunities that the Erasmus+ Program provides to promote international 
          exchange in the fields of school and vocational education, with some of the 
          students walking away with prizes.
        </p>
        <p>
          The attendees were convinced of the role of the Erasmus+ 
          Program as a continuation of the idea set 75 years ago 
          to bring European nations closer together.
        </p>
        <img src="../assets/img/stem/europeDay_3.jpg" class="img-fluid rounded shadow mb-5" alt="Activity image">
        <img src="../assets/img/stem/europeDay_4.jpg" class="img-fluid rounded shadow mb-5" alt="Activity image">
        <img src="../assets/img/stem/europeDay_5.jpg" class="img-fluid rounded shadow mb-5" alt="Activity image">
      </div>
    </section>
  </main>

    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/translator.js"></script>
    <script src="/js/latestNewsLoader.js"></script>

      <!-- Footer-->
    <%- include('../partials/footer') %>

</body>
</html>
