<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Erasmus+ Projects for PPMG 'akad. Ivan Tsenov' Vratsa (2024–2027)" />
    <meta name="author" content="PPMG 'akad. Ivan Tsenov'" />
    <title>Erasmus+ Projects | PPMG 'akad. Ivan Tsenov'</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>

    <!-- Load Navbar From /assets/partials/navbar -->
    <%- include('../partials/navbar') %>

  <main class="container my-5">
    <section class="text-center mb-5">
      <h1 class="mb-3">Strong participation of students from the Profiled Science and 
        Mathematical High School "Acad. Ivan Tsenov "Vratsa in the "Incubator for Young Talent"</h1>
    </section>

    <div class="row justify-content-center mb-4">
      <div class="col-md-4">
        <img src="../assets/img/stem/youngTalent_1.jpg" class="img-fluid rounded shadow" alt="Activity image">
      </div>
    </div>

    <section class="row justify-content-center">
      <div class="col-md-8">
        <p>
          Strong participation of students from the Profiled Science 
          and Mathematical High School "Acad. Ivan Tsenov "Vratsa in the 
          "Incubator for Young Talent", organized by the "Association of 
          Young Scientists". The event aims to provide an opportunity for 
          \young scientists to present their scientific achievements.
        </p>
        <img src="../assets/img/stem/youngTalent_2.jpg" class="img-fluid rounded shadow" alt="Activity image">
        <p>
          As part of the first day of the initiative, the youth spent several 
          hours teaming up in teams around an idea in areas of environmental 
          conservation, infrastructure, social entrepreneurship and economic development.
        </p>
        <h6>
          On Monday the 10th. February, at a peculiar round table, they briefly presented their ideas:
        </h6>
        <ul>
          <li>
            Clean Future for trash can sensors and an event to raise awareness about garbage recycling among the public.
          </li>
          <li>
            Mobile transportation application with statistics and routes optimization.
          </li>
          <li>
            A "Second Chance for Life in the Villages" for a relationship between business and dual education.
            Possibility for the Future - to support children deprived of parental care for university education through a mentoring program.
          </li>
          <li>
            Aquasmart hardware and software for effective management of water resources.
          </li>
        </ul>
        <img src="../assets/img/stem/youngTalent_3.jpg" class="img-fluid rounded shadow" alt="Activity image">
        <p>
          Deputy took part in the forum. -mayor of Vratsa Municipality 
          Petya Dolapchieva, Chairman of the Municipal Council - Vratsa, 
          Vladimir Hristov, representative of TPP, Maya Milova, 
          Borislav Boev from the Kozloduy Novi Powers NPP and representatives 
          of business, education and administration, scientific organizations 
          and NGOs sector and funded by the project of the Association of Young 
          Scientists program Erasmus+ of the European Union.
        </p>
        <img src="../assets/img/stem/youngTalent_4.jpg" class="img-fluid rounded shadow" alt="Activity image">
        <p>
          Some of the participating young people from the mathematical high 
          school are junior ambassadors of the programme for schools ambassadors 
          to the EP and students from the Erasmus+ club, who were accompanied at 
          the event at the presentation by Senior Ambassador Ivalina Ivanova and 
          Lubina Karamelska, who are working on the project Jean Monet - EU introduction initiatives.
        </p>
      </div>
    </section>
  </main>

    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/translator.js"></script>
    <script src="/js/latestNewsLoader.js"></script>

      <!-- Footer-->
    <%- include('../partials/footer') %>

</body>
</html>
